@layout("/common/container.html"){
<form class="m-form">
    <div class="m-portlet" m-portlet="true">
        <#portlet:head title="导入模板" icon="la la-cloud-upload"/>
        <div class="m-portlet__body">
            <div class="row">
                <!-- str:表单区域 -->
                <input type="hidden" id="id" name="id" value="${object.id}" />
                <div class="col-lg-6 col-12">
                    <#form:select id="importTable" name="导入表" required="true" other="data-live-search='true'" value="${object.importTable}" />
                </div>
                <div class="col-lg-6 col-12">
                    <#form:input id="name" name="名称" required="true" value="${object.name}" />
                </div>
                <div class="col-lg-6 col-12">
                    <#form:input id="importCode" tips="模板代码不可重复" name="模板代码" required="true" value="${object.importCode}" />
                </div>
                <div class="col-lg-6 col-12 m--hide">
                    <#form:input type="number" tips="包含标题行的开始行号" id="startRow" name="起始行" required="true" value="${object.startRow}" />
                </div>
                <div class="col-lg-6 col-12">
                    <#form:input tips="用于检查当前登录用户是否允许使用此模板" id="permissionCode" name="权限代码" required="true" value="${object.permissionCode}" />
                </div>
                <div class="col-12">
                    <div class="form-group row">
                        <label class="col-md-2 col-4 control-label " for="callback">
                            回调：
                        </label>
                        <div class="col-md-10 col-8">
                            <input class="form-control " id="callback" name="callback" value="${object.callback}"/>
                            <span class="m-form__help">用于导入前&后处理数据（需实现com.frame.easy.base.service.ImportService），如不需要可忽略。示例（com.frame.easy.modular.sample.service.impl.SampleImportDataServiceImpl）</span>
                        </div>
                    </div>
                </div>
                <!-- end:表单区域 -->
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions text-center">
                <#btn:save permission="sys:import:excel:template:save"/>
            </div>
        </div>
    </div>
</form>
<!--begin::页面脚本 -->
<script src="${ctxPath}/static/modular/sys/import/excel/template/input.js?v=${version()}" type="text/javascript"></script>
<!--end::页面脚本 -->
@}