@layout("/common/container.html"){
<div class="m-portlet" m-portlet="true">
    <#portlet:head title="导入模板" icon="la la-cloud-upload"/>
    <div class="m-portlet__body">
        <form class="m-form">
            <div class="m-stack m-stack--ver m-stack--general query-modular">
                <div class="m-stack__item m-stack__item--fluid">
                    <div class="row">
                        <!--str:查询条件区域-->
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <#form:input id="name" name="名称" />
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <#form:input id="importCode" name="模板代码" />
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <#form:input id="importTable" name="导入表" />
                        </div>
                        <!--end:查询条件区域-->
                    </div>
                </div>
                <div class="m-stack__item query-btn-group">
                    <#btn:search />
                    <#btn:reset />
                </div>
            </div>
            <div class="btn-row">
                <#btn:add permission="sys:import:excel:template:add"/>
                <#btn:delete permission="sys:import:excel:template:delete"/>
            </div>
            <div class="m_datatable" id="sys_import_excel_template-list"></div>
        </form>
    </div>
</div>
<!--begin::页面脚本 -->
<script src="${ctxPath}/static/modular/sys/import/excel/template/list.js?v=${version()}" type="text/javascript"></script>
<!--end::页面脚本 -->
@}