<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->
<head>
    @include("meta.html"){}
    <title>
        @if(isNotEmpty(title)){
            ${title} - ${projectName()}
        @} else {
            ${projectName()}
        @}
    </title>
    @include("base-styles.html"){}
    @include("base-scripts.html"){}
</head>
<!-- end::Head -->

<!-- begin::Body -->
<body class="kt-page--fluid kt--skin- kt-content--skin-light2">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--hor kt-grid--root kt-page">
    <div class="kt-body">
        <div class="kt-grid__item kt-grid__itekt--fluid kt-wrapper">
            <div class="kt-content">
                ${layoutContent}
            </div>
        </div>
    </div>
</div>

<!-- begin::Scroll Top -->
<div id="kt_scrolltop" class="kt-scrolltop">
    <i class="fa fa-arrow-up"></i>
</div>
<!-- end::Scroll Top -->

<!-- end:: Page -->
</body>
<!-- end::Body -->
</html>