    <!--begin::皮肤文件 -->
    <link id="skins-header-base" href="${ctxPath}/static/themes/theme-1/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link id="skins-header-menu" href="${ctxPath}/static/themes/theme-1/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link id="skins-brand" href="${ctxPath}/static/themes/theme-1/css/skins/brand/dark.css" rel="stylesheet" type="text/css" />
    <link id="skins-aside" href="${ctxPath}/static/themes/theme-1/css/skins/aside/dark.css" rel="stylesheet" type="text/css" />
    <!--end::皮肤文件 -->
