@layout("/common/container.html", {"title" : "导入模板"}){
<style>
    #template-set th {
        vertical-align: middle;
        border: 1px solid #fff;
        font-weight: bold;
        background-color: #f4f3f8;
    }
</style>
<form class="kt-form">
    <input type="hidden" id="templateId" value="${object.id}">
    <input type="hidden" id="importTable" value="${object.importTable}">
    <div class="kt-portlet">
        <#portlet:head title="导入模板" icon="la la-cloud-upload"/>
        <div class="kt-portlet__body">
            <div class="row">
                <!-- str:表单区域 -->
                <input type="hidden" id="id" name="id" value="${object.id}" />
                <div class="col-lg-4 col-12">
                    <div class="form-group kt-form__group row">
                        <label class="col-4 col-form-label">
                            模板名称：
                        </label>
                        <div class="col-8">
                            <span class="kt-form__control-static">${object.name}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="form-group kt-form__group row">
                        <label class="col-4 col-form-label">
                            模板代码：
                        </label>
                        <div class="col-8">
                            <span class="kt-form__control-static">${object.importCode}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="form-group kt-form__group row">
                        <label class="col-4 col-form-label">
                            导入表：
                        </label>
                        <div class="col-8">
                            <span class="kt-form__control-static">${object.importTable}</span>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div id="template-set-scrollable">
                        <table id="template-set" class="table table-hover table-striped">
                            <thead class="text-center">
                            <tr>
                                <th class="cell-base" rowspan="2">导入</th>
                                <th class="cell-base" colspan="3">字段</th>
                                <th class="cell-list" colspan="5">字段转换</th>
                                <th class="cell-input" rowspan="2">必填</th>
                                <th class="cell-input" rowspan="2">唯一</th>
                                <th class="cell-input" rowspan="2">排序值</th>
                            </tr>
                            <tr>
                                <th class="cell-base">列名</th>
                                <th class="cell-base">字段类型</th>
                                <th class="cell-base">
                                    <div style="width: 75px;">标题</div>
                                </th>
                                <th>替换</th>
                                <th>
                                    <div style="width: 200px;">替换表</div>
                                </th>
                                <th>
                                    <div style="width: 120px;">类别</div>
                                </th>
                                <th>
                                    <div style="width: 120px;">导入值</div>
                                </th>
                                <th>
                                    <div style="width: 120px;">替换值</div>
                                </th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <!-- end:表单区域 -->
            </div>
        </div>
        <div class="kt-portlet__foot kt-portlet__foot--fit">
            <div class="kt-form__actions text-center">
                <#btn:save permission="sys:import:excel:template:save"/>
            </div>
        </div>
    </div>
</form>
<!--begin::页面脚本 -->
<script src="${ctxPath}/static/modular/sys/import/excel/template/details/list.js?v=${version()}" type="text/javascript"></script>
<!--end::页面脚本 -->
@}