<!DOCTYPE html>
<html lang="en">

<!-- begin::Head -->
<head>
    @include("../common/meta.html"){}
    <title>401 - ${projectName()}</title>
    @include("../common/base-styles.html"){}
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="kt--skin- kt-header--fixed kt-header--fixed-mobile kt-aside-left--enabled kt-aside-left--skin-dark kt-aside-left--fixed kt-aside-left--offcanvas kt-footer--push kt-aside--offcanvas-default">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--hor kt-grid--root kt-page">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-error-1"
         style="background-image: url(${ctxPath}/static/app/media/img/error/bg-error.jpg);">
        <div class="kt-error_container">
            <span class="kt-error_number">
                <h1>401</h1>
            </span>
            <p class="kt-error_desc">
                您无权限访问此资源
            </p>
        </div>
    </div>
</div>
<!-- end:: Page -->
@include("../common/base-scripts.html"){}
</body>
<!-- end::Body -->
</html>