<!DOCTYPE html>
<html lang="en">

<!-- begin::Head -->
<head>
    @include("../common/meta.html"){}
    <title>404 - ${projectName()}</title>
    <link href="${ctxPath}/static/themes/theme-1/css/pages/error/error.css?v=${version()}" rel="stylesheet" type="text/css"/>
    @include("../common/base-styles.html"){}
</head>

<!-- end::Head -->

<!-- begin::Body -->
<body class="kt-quick-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-error-v6" style="background-image: url(${ctxPath}/static/media/error/error.svg);">
        <div class="kt-error_container">
            <div class="kt-error-icon" style="background-image: url(${ctxPath}/static/media/error/404.svg)"></div>
            <p class="kt-error_description">
                抱歉，你访问的页面不存在
            </p>
        </div>
    </div>
</div>
<!-- end:: Page -->
@include("../common/base-scripts.html"){}
</body>
<!-- end::Body -->
</html>