<!DOCTYPE html>
<html lang="en">

<!-- begin::Head -->
<head>
    @include("../common/meta.html"){}
    <title>500 - ${projectName()}</title>
    @include("../common/base-styles.html"){}
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="kt--skin- kt-header--fixed kt-header--fixed-mobile kt-aside-left--enabled kt-aside-left--skin-dark kt-aside-left--fixed kt-aside-left--offcanvas kt-footer--push kt-aside--offcanvas-default">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--hor kt-grid--root kt-page">
    @if(isDev){
    <div class="kt-portlet kt-portlet--tabs kt-portlet--danger kt-portlet--head-solid-bg kt-portlet--bordered">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-caption">
                <div class="kt-portlet__head-title">
                    <h3 class="kt-portlet__head-text">
                        500
                    </h3>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="tab-content">
                <div class="row">
                    <div class="col-2">
                        <p class="lead text-right">Url: </p>
                    </div>
                    <div class="col-10">
                        <p class="lead">${path}</p>
                    </div>
                    <div class="col-2">
                        <p class="lead text-right">Message: </p>
                    </div>
                    <div class="col-10">
                        <p class="lead">${message}</p>
                    </div>
                    <div class="col-2">
                        <p class="lead text-right">Trace: </p>
                    </div>
                    <div class="col-10">
                        <p class="lead" id="trace">
                            ${strutil.replace(trace, '\n\t', '<br>')}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @}else{
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-error-1"
         style="background-image: url(${ctxPath}/static/app/media/img/error/bg-error.jpg);">
        <div class="kt-error_container">
            <span class="kt-error_number">
                <h1>500</h1>
            </span>
            <p class="kt-error_desc">
                服务器开小差了，请等等再试吧！
            </p>
        </div>
    </div>
    @}
</div>
<!-- end:: Page -->
@include("../common/base-scripts.html"){}
<script src="${ctxPath}/static/global/500.js?v=${version()}"></script>
</body>
<!-- end::Body -->
</html>