<!DOCTYPE html>
<html lang="en">

<!-- begin::Head -->
<head>
    @include("../common/meta.html"){}
    <title>In development - ${projectName()}</title>
    @include("../common/base-styles.html"){}
</head>

<!-- end::Head -->

<!-- begin::Body -->
<body class="kt--skin- kt-header--fixed kt-header--fixed-mobile kt-aside-left--enabled kt-aside-left--skin-dark kt-aside-left--fixed kt-aside-left--offcanvas kt-footer--push kt-aside--offcanvas-default">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--hor kt-grid--root kt-page">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error-6" style="background-image: url(${ctxPath}/static/app/media/img/error/bg-404.jpg);">
        <div class="kt-error_container">
            <div class="kt-error_subtitle kt--font-light">
                <h1>Oops...</h1>
            </div>
            <p class="kt-error_description kt--font-light">
                您访问的页面正在开发中...
                <br>
            </p>
        </div>
    </div>
</div>
<!-- end:: Page -->
@include("../common/base-scripts.html"){}
</body>
<!-- end::Body -->
</html>