<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
    <div class="kt-footer__copyright">
        ${trim(date(),'yyyy')}&nbsp;©&nbsp;
        <a href="https://gitee.com/tcc/easy-frame/tree/master" target="_blank" class="kt-link">${projectName()} <small>v${version()}</small></a>
    </div>
    <div class="kt-footer__menu">
        <a href="https://gitee.com/tcc/easy-frame/tree/master" target="_blank" class="kt-footer__menu-link kt-link">源码下载</a>
        <a href="https://gitee.com/tcc/easy-frame/issues" target="_blank" class="kt-footer__menu-link kt-link">问题反馈</a>
        <a href="https://gitee.com/tcc/easy-frame/tree/master" target="_blank" class="kt-footer__menu-link kt-link">在线文档</a>
    </div>
</div>
<!-- end:: Footer -->