<footer class="kt-grid__item kt-footer ">
    <div class="kt-container kt-container--fluid kt-container--full-height kt-page__container">
        <div class="kt-stack kt-stack--flex-tablet-and-mobile kt-stack--ver kt-stack--desktop">
            <div class="kt-stack__item kt-stack__item--left kt-stack__item--middle kt-stack__item--last">
                <span class="kt-footer__copyright">
                    ${trim(date(),'yyyy')} © ${projectName()}
                </span>
            </div>
            <div class="kt-stack__item kt-stack__item--right kt-stack__item--middle kt-stack__item--first">
                <ul class="kt-footer__nav kt-nav kt-nav--inline kt--pull-right">
                    <li class="kt-nav__item">
                        <a target="_blank" href="https://gitee.com/tcc/easy-frame/tree/master" class="kt-nav__link">
                            <span class="kt-nav__link-text">源码下载</span>
                        </a>
                    </li>
                    <li class="kt-nav__item">
                        <a target="_blank" href="https://gitee.com/tcc/easy-frame/issues" class="kt-nav__link">
                            <span class="kt-nav__link-text">问题反馈</span>
                        </a>
                    </li>
                    <li class="kt-nav__item">
                        <a target="_blank" href="https://gitee.com/tcc/easy-frame" class="kt-nav__link">
                            <span class="kt-nav__link-text">在线文档</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>