<footer class="m-grid__item m-footer ">
    <div class="m-container m-container--fluid m-container--full-height m-page__container">
        <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
            <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                <span class="m-footer__copyright">
                    ${trim(date(),'yyyy')} © ${projectName()}
                </span>
            </div>
            <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
                <ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
                    <li class="m-nav__item">
                        <a target="_blank" href="https://gitee.com/tcc/easy-frame/tree/master" class="m-nav__link">
                            <span class="m-nav__link-text">源码下载</span>
                        </a>
                    </li>
                    <li class="m-nav__item">
                        <a target="_blank" href="https://gitee.com/tcc/easy-frame/issues" class="m-nav__link">
                            <span class="m-nav__link-text">问题反馈</span>
                        </a>
                    </li>
                    <li class="m-nav__item">
                        <a target="_blank" href="https://gitee.com/tcc/easy-frame" class="m-nav__link">
                            <span class="m-nav__link-text">在线文档</span>
                        </a>
                    </li>
                    <li class="m-nav__item m-nav__item">
                        <a href="#" class="m-nav__link" data-toggle="m-tooltip" title="" data-placement="left" data-original-title="操作手册">
                            <i class="m-nav__link-icon flaticon-info m--icon-font-size-lg3"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>